@model List<User>
@{
    ViewData["Title"] = "Admin";
}

@Html.Partial("_Navbar")

<div class="container mx-auto mt-5">
    <h1 class="text-2xl font-bold mb-5">Brukere</h1>

    

    <table class="min-w-full bg-white border">
        <thead>
            <tr>
                <th class="py-2 px-4 border">ID</th>
                <th class="py-2 px-4 border">Navn</th>
                <th class="py-2 px-4 border">Etter Navn</th>
                <th class="py-2 px-4 border">E-post</th>
                <th class="py-2 px-4 border">Nåværende Rolle</th>
                <th class="py-2 px-4 border">Tildele rolle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="border">
                    <td class="py-2 px-4">@user.Id</td>
                    <td class="py-2 px-4">@user.Name</td>
                    <td class="py-2 px-4">@user.SurName</td>
                    <td class="py-2 px-4">@user.Email</td>
                    <td class="py-2 px-4">@user.Role</td>
                    <td class="py-2 px-4">
                        <form asp-action="AssignRole" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="UserId" value="@user.Id" />
                            <select name="Role" class="border rounded p-1">
                                <option>BRUKER</option>
                                <option>SAKSBEHANDLER</option>
                                <option>ADMIN</option>
                            </select>
                            <select selected="@user.Fylke" name="Fylke" class="border rounded p-1">
                                <option>Agder</option>
                                <option>Akershus</option>
                                <option>Buskerud</option>
                                <option>Finnmark</option>
                                <option>Innlandet</option>
                                <option>Møre og Romsdal</option>
                                <option>Nordland</option>
                                <option>Oslo</option>
                                <option>Rogaland</option>
                                <option>Telemark</option>
                                <option>Troms</option>
                                <option>Trøndelag</option>
                                <option>Vestfold</option>
                                <option>Vestland</option>
                                <option>Østfold</option>
                            </select>
                            <button type="submit" class="bg-green-500 text-white p-1 rounded ml-2">Oppdater</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


