@model List<Karverket.Models.Innmelding>
@{
    ViewData["Title"] = "Inbox";
}

@{
    Layout = "_Layout";
}

@Html.Partial("_Navbar")

<!-- Navbar -->
<!--<nav class="navbar">
    <div class="nav-logo">
        <a href="/">
            <img width="100" src="~/css/kartverket-logo-1.jpg" alt="Logo">
        </a>
    </div>
    <div class="flex justify-between">
        <div class="nav-links">
            @if (ViewBag.isInternalUser == true)
            {
                    <a asp-action="Innmeldinger" class="innmeldinger-link @(ViewContext.RouteData.Values["action"].ToString() == "Innmeldinger" ? "active-link" : "")">Innmeldinger</a>
            }
            <a asp-action="Index" class="kart-link @(ViewContext.RouteData.Values["action"].ToString() == "Kart" ? "active-link" : "")">Kart</a>
            <a asp-action="Inbox" class="inbox-link @(ViewContext.RouteData.Values["action"].ToString() == "Inbox" ? "active-link" : "")">Inbox</a>
            <a asp-action="Logout" class="logout-link @(ViewContext.RouteData.Values["action"].ToString() == "Logout" ? "active-link" : "")">Logg ut</a>
        </div>
        <div class="profile ml-4 nav-links">
            <a asp-action="Profile" class="profile-link @(ViewContext.RouteData.Values["action"].ToString() == "Profile" ? "active-link" : "")">Profil</a>
        </div>
    </div>
</nav> -->

<!--Inbox siden -->
<div class="inboxSide">
    <a href="/Home" class="tilbake-link">Gå tilbake</a>

    <h1 class="inbox-overskrift">Inbox</h1>

    <section id="innmeldingsStatus">
        <h2 class="innmeldingStatus">Ubesvarte innmeldinger</h2>
    </section>

    <!-- <section id="message-box yellow-box"
        <div class="message-box yellow-box">
            <!-- Sender fargen "yellow" via query string --
            <span><a href="/Home/MineInnmeldinger?color=yellow" class="linkTilInnmelding">Mine innmeldinger</a></span>
            <span class="arrow">➔</span>
        </div>
         <div id="message-box yellow-box flex-col"> -->
        @foreach (var i in Model)
        {
            @if (i.Status == "Pending")
            {
                <div class="message-box yellow-box">
                    <!-- Sender fargen "yellow" via query string -->
                    <span><a href="/Home/innmelding?id=@i.Id&color=yellow" class="linkTilInnmelding">Innmelding @i.Id</a></span>
                    <span class="arrow">➔</span>
                </div>
            }
        }
    <!-- </div>
    </section> -->

    <section id="innmeldingsStatus">
        <h2 class="innmeldingStatus">Tidligere innmeldinger</h2>
    </section>

    <!--<section id="message-box green-box"> -->
        
        @foreach (var i in Model)
        {
            @if (i.Status == "Accepted")
            {
                <div class="message-box green-box">
                    <!-- Sender fargen "green" via query string -->
                    <span><a href="/Home/innmelding?id=@i.Id&color=green" class="linkTilInnmelding">Innmelding @i.Id</a></span>
                    <span class="arrow">➔</span>
                </div>
                
            }
        }
    <!-- </section> -->

    <!-- <section id="message-box red-box"> -->
        @foreach (var i in Model)
        {
            @if (i.Status == "Declined")
            {
                <div class="message-box red-box">
                    <!-- Sender fargen "red" via query string -->
                    <span><a href="/Home/innmelding?id=@i.Id&color=red" class="linkTilInnmelding">Innmelding @i.Id</a></span>
                    <span class="arrow">➔</span>
                </div>
            }
        }
    <!-- </section> -->
</div>







