@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Karverket.Models.User
<!--<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Profil</title>
        <link rel="stylesheet" href="~/css/mainpagestyles.css" />
     </head>


    <body>
        <div class="profile-container">
            <h2>Profil</h2>
            <div class="profile-info">
                <p><strong>Fornavn:</strong> <span id="first-name">@Model.Name</span></p>
                <p><strong>Etternavn:</strong> <span id="last-name">@Model.SurName</span></p>
                <p><strong>Fylke:</strong> <span id="region">@Model.</span></p>
                <p><strong>E-post:</strong> <span id="email">@Model.Email</span></p>
        </div>
        <div class="profile-picture">
            <p>Saksbehandler profilbilde</p>
        </div>
    </div>
  
    </body>
</html>-->




<!-- navbar-->
<nav class="navbar">
    <div class="nav-logo">
        <a href="">
            <img src="~/css/kartverket-logo-1.jpg" alt="Logo" style="width: 110px; height: auto;">
        </a>
    </div>
    <div class="flex">
        <div class="nav-links">
            <a asp-action="Innmeldinger" class="innmeldinger-link">Innmeldinger</a>
            <a href="" class="kart-link">Kart</a>
            <a asp-action="Inbox" class="inbox-link">Inbox</a>
            <a asp-action="Logout" class="logout-link">Logg ut</a>
        </div>
        <div class="profile ml-4">
            <a asp-action="Profile" class="profile-link"><i></i>Profil</a>
        </div>
    </div>
</nav> 

<!-- Selve siden -->

<div class="innmelding-container">
    <a href="/" class="tilbake-link">Gå tilbake</a>

    <h1 class="innmelding-title">Profil</h1>
    <!-- Dynamisk farge brukes her basert på feedbackColor -->

    <div class="innmelding-boks">
        <div class="innmelding-details">
            <strong>Fornavn:</strong>
            <p>@Model.Name</p>
            <strong>Etternavn:</strong>
            <p>@Model.SurName</p>
            <strong>E-post:</strong>
            <p>@Model.Email</p>
            <!-- strong>Fylke:</strong>
            <p>Agder</p> -->
        </div>

        <a href="/Home/inbox">
            <button class="kart-knapp">Se mine innmeldinger</button>
        </a>
    </div>
</div>
