@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Karverket.Models.User

<!-- navbar-->
<nav class="navbar">
    <div class="nav-logo">
        <a href="/">
            <img width="100" src="~/css/kartverket-logo-1.jpg" alt="Logo">
        </a>
    </div>
    <div class="flex justify-between">
        <div class="nav-links">
            @if (ViewBag.isInternalUser == true)
            {
                <a asp-action="Innmeldinger" class="innmeldinger-link @(ViewContext.RouteData.Values["action"].ToString() == "Innmeldinger" ? "active-link" : "")">Innmeldinger</a>
            }
            <a asp-action="Index" class="kart-link @(ViewContext.RouteData.Values["action"].ToString() == "Kart" ? "active-link" : "")">Kart</a>
            <a asp-action="Inbox" class="inbox-link @(ViewContext.RouteData.Values["action"].ToString() == "Inbox" ? "active-link" : "")">Inbox</a>
        </div>
        <div class="profile ml-4 nav-links">
            <a asp-action="Profile" class="profile-link @(ViewContext.RouteData.Values["action"].ToString() == "Profile" ? "active-link" : "")">Profil</a>
        </div>
    </div>
</nav>

<!-- Selve siden -->

<div class="innmelding-container">
    <a href="/" class="tilbake-link">Gå tilbake</a>

    <h1 class="innmelding-title">Profil</h1>
    <!-- Dynamisk farge brukes her basert på feedbackColor -->

    <div class="innmelding-boks">
        <div class="innmelding-details">
            <strong>Fornavn:</strong>
            <p>@Model.Name</p>
            <strong>Etternavn:</strong>
            <p>@Model.SurName</p>
            <strong>E-post:</strong>
            <p>@Model.Email</p>
            <!-- strong>Fylke:</strong>
            <p>Agder</p> -->
        </div>

        <a href="/Home/inbox">
            <button class="kart-knapp">Se mine innmeldinger</button>
            <a asp-action="Logout" class="logout-link @(ViewContext.RouteData.Values["action"].ToString() == "Logout" ? "active-link" : "")">Logg ut </a>
        </a>
    </div>
</div>
